body {
  margin: 0px;
  background-color: #0D1321;
}/* Add a black background color to the top navigation */


.topnav {
    background-color: #dddcd9;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: none;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    display: flex;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
#name {
  text-align: center;
  display: flex;
  justify-content: center;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 2700px;
  background-color: #ffffff;
}

#introduction {
  justify-content: right;
  display: flex;
  text-align: right;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-left: 50%;
  top: 20%;
}

#box1 {
  width: auto;
  height: 530px;
  background-color: #fcf0ba;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: right;
  position: relative;
}

#box2 {
  width: auto;
  height: 530px;
  background-color: #f6e7ce;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;

}

#textbox2 {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
}

#box3 {
  width: auto;
  height: 540px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: left;
  text-align: left;
  position: relative;
  font-size: medium;
}

#textbox3 {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
}

#box4 {
  /* width: max-content; 
  height: 319px;
  background-color: #cb9866;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;*/
  width: auto;
  height: 319px;
  background-color: #cb9866;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
 
}
#textbox4 {
  /* justify-content: center; 
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: auto;
  height: 300px;
  position: absolute; */
  
}

p {
  letter-spacing: 3px;
}

  .footer {
      
   position: absolute; 
  bottom: -0px;
  width: 98%;
  height: 200px;
  background-color: #D0DAEE; 
  text-align: left;
  padding: 10px;
  }