body {
  margin: 0px;
  background-color: #0D1321;
}/* Add a black background color to the top navigation */


.topnav {
    background-color: #dddcd9;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: none;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    display: flex;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
#name {
  text-align: center;
  display: flex;
  justify-content: center;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 2700px;
  background-color: #ffffff;
}

#introduction {
  justify-content: right;
  display: flex;
  text-align: left;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-left: 40%;
  top: 17%;
}

#box1 {
  width: auto;
  height: 530px;
  background-color: #fcf0ba;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: right;
  position: relative;
}

#me {
  display: flex;
  position: absolute;
  height: 340px;
  width: 451px;
  margin-right: 20%;
  margin-top: 7%;
}

#box2 {
  width: auto;
  height: 530px;
  background-color: #f6e7ce;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#textbox2-1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: auto;
  position: absolute;
  margin-top: 15%;
}

#textbox2-2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: auto;
  position: absolute;
  margin-top: 5%;
}

#textbox2 {
  justify-content: center;
  display: flex;
  text-align: center;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-top: 10%;
}

#textbox2-5 {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-top: 20%;
}

#paragraph2 {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-top: 30%;
}

#magazine {
  display: flex;
  position: absolute;
  height: 200px;
  width: 300px;
  margin-right: 60%;
  margin-top: 25%;
}

#cab {
  display: flex;
  position: absolute;
  height: 150px;
  width: 200px;
  margin-right: 50%;
  margin-top: 5%;
}

#me2 {
  display: flex;
  position: absolute;
  height: 300px;
  width: 350px;
  margin-left: 80%;
  margin-top: 10%;
}

#box3 {
  width: auto;
  height: 540px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: left;
  position: relative;
  font-size: medium;
}

#textbox3 {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: 255px;
  height: 424px;
  position: absolute;
}

#expierences {
  justify-content: center;
  display: flex;
  text-align: center;
  width: 255px;
  height: 424px;
  position: absolute;
}

#summer {
  justify-content: left;
  display: flex;
  text-align: left;
  width: 255px;
  height: 424px;
  position: absolute;
  margin-top: 6%;
  margin-right: 43%;
}

#makergym {
  justify-content: left;
  display: flex;
  text-align: left;
  width: 300px;
  height: 500px;
  position: absolute;
  margin-top: 8%;
  margin-right: 40%;
}

#fall {
  justify-content: left;
  display: flex;
  text-align: left;
  width: 300px;
  height: 500px;
  position: absolute;
  margin-top: 30%;
  margin-right: 15%;
}

#showstoppers {
  justify-content: left;
  display: flex;
  text-align: left;
  width: 300px;
  height: 500px;
  position: absolute;
  margin-top: 32%;
  margin-right: 13%;
}

#makerethan {
  display: flex;
  position: absolute;
  height: 150px;
  width: 200px;
  margin-left: 30%;
  margin-top: 10%;
}

#showstopperspic {
  display: flex;
  position: absolute;
  height: 150px;
  width: 200px;
  margin-left: 45%;
  margin-top: 33%;
}


#box4 {
  /* width: max-content; 
  height: 319px;
  background-color: #cb9866;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;*/
  width: auto;
  height: 319px;
  background-color: #cb9866;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
 
}
#textbox4 {
  /* justify-content: center; 
  display: flex;
  text-align: center;
  padding: 50px;
  border: #000000;
  border-width: 10px;
  width: auto;
  height: 300px;
  position: absolute; */
  
}

p {
  letter-spacing: 2px;
}

  .footer {
      
  position: absolute; 
  bottom: -0px;
  width: 98%;
  height: 200px;
  background-color: #D0DAEE; 
  text-align: left;
  padding: 10px;
  }

